{% extends 'layout.html' %}
{% block content %}
<div class="content">
<form action="/add_class" method="post" enctype="multipart/form-data" class="addclass">
    <label>Class name</label> <br>
    {{ form.name }} <br>
    <label>Description</label> <br>
    {{ form.description(**{'class':'description', "size":"10"} )}} <br>
    <label>Image</label> <br>
    {% if valid_file == False %} 
    Please select valid file type
    {% endif %}
    <br>
    {{ form.picture(**{'onchange':'loadFile(event)', 'accept': '.png,.jpg'}) }}<label></label> <br>
    <img id="output"><br>
    <input type="submit" class="submit">
</form>
</div>
{% endblock %}