{% extends 'layout.html' %}
{% block content %}
<div class="content">
<form action="/add_class" method="post" enctype="multipart/form-data" class="addclass">
    <label>Class name</label> <br>
    {{ form.name }} <br>
    <label>Description</label> <br>
    {{ form.description}} <br>
    <label>Image</label> <br>
    {% if validfile == False %}
    Please select valid file type
    {% endif %}
    {{ form.picture(**{'onchange':'loadFile(event)', 'accept': '.png,.jpg'}) }}<label></label> <br>
    <img id="output"><br>
    <input type="submit" class="submit">
</form>
</div>
{% endblock %}