{% extends 'layout.html' %}
{% block content %}
<div class="content">
    <div class="classtitle">
        <img src="{{url_for('static', filename=_class.picture)}}">
        <h1>
            {{_class.name}}
        </h1>
        <p>
            {{_class.description}}
        </p>
    </div>

    <br>

    {% for i in _class.students %}
        {{i.name}}
    {% endfor %}<br>
    {% if _class.students|length >= 4 %}
        <a href="/new_quiz/{{id}}">
            start quiz
        </a>
    {% else %}
        add more students to do quiz
    {% endif %}


    <h2>
        Add Student
    </h2>

    <p1>
        <form action="/class/{{id}}"  method="post">
            Students Name<br>
        
            {{form.name(placeholder='Student name')}}<br>
            Students ID<br>
            {{form.student_id(placeholder='Student ID')}}<br>
            {{ form.picture(**{'onchange':'loadFile(event)'}) }}<label></label> <br>
            <img id="output"><br>
            <input type="submit">
        </form>
    </p1>

</div>
{% endblock %}