{% extends 'layout.html' %}
{% block content %}
<div class="content">
    <div class="classtitle">
        <img src="{{url_for('static', filename=_class.picture)}}">
        <h1>
            {{_class.name}}
        </h1>
        <p>
            {{_class.description}}
        </p>
    </div>

    <br>
    <div class="studentlist">
    {% for i in _class.students %}
        <div class="student">
            <img src="{{url_for('static', filename=i.picture)}}">
            <h1>
                {{i.name}}
            </h1>
            <h2>
                {{i.student_id}}
            </h2>
        </div>
    {% endfor %}<br>
    </div>
        

    {% if _class.students|length >= 4 %}
        <a href="/new_quiz/{{id}}/1/0" class="startquiz">
            <h3>
                NEW QUIZ
            </h3>
        </a>
        {% if quiz_exist == True%}
        <a href="/quiz/1/{{_class.id}}" class="startquiz continuequiz">
            <h3>
                CONTINUE QUIZ
            </h3>
        </a>
        {% endif %}
    {% else %}
        add more students to do quiz
    {% endif %}


    <form action="/class/{{id}}"  method="post" enctype="multipart/form-data" class="addstudent">
        <h1>Add Student</h1>
        <div class="studentform">
            <div class="error">
                {{message}}<br>
            </div>
            Students Name<br>
            {{form.name(placeholder='Student name')}}<br>
            Students ID<br>
            {{form.student_id(placeholder='Student ID')}}<br>
            {{ form.picture(**{'onchange':'loadFile(event)', 'class':'studentimage', 'accept': '.png,.jpg'}) }}<br>
            <img id="output"><br>
            <input type="submit">

        </div>
    </form>

</div>
{% endblock %}