{% extends 'layout.html' %}
{% block content %}
<h1>Login</h1>
<form action="/login" method="post">
    {% if login == False %}
    <P>Invail username or password</P>
    {% endif %}
    <label>Username:</label>
    <p>{{ form.username }}</p>
    <label>Password:</label>
    <p>{{ form.password }}</p>
    <input type="submit">
</form>
<br>
<h1>Sign up</h1>
<form action="/signup" method="post">
    <label>Username:</label>
    <p>{{ form.username }}</p>
    <label>Password:</label>
    <p>{{ form.password }}</p>
    <input type="submit">
</form>

{% endblock %}