{% extends 'layout.html' %}
{% block content %}
<div class="loginbox">
    <div class="login">
    <h1>Login</h1>
    <form action="/login" method="post">
        {% if login == False %}
        <p>Invalid username or password</p>
        {% endif %}
        <label>Username</label>
        <p>{{ form.username }}</p>
        <label>Password</label>
        <p>{{ form.password }}</p>
        <input type="submit">
    </form>
    </div>
    <div class="seperator"></div><br>

    <div class="signup">
    <h1>Sign up</h1>
    <form action="/signup" method="post">
        {% if accexist == True %}
        <p>Invalid username, already exists</p>
        {% endif %}
        <label>Username</label>
        <p>{{ form.username }}</p>
        <label>Password</label>
        <p>{{ form.password }}</p>
        <input type="submit">
    </form>
    </div>
    
</div>
{% endblock %}