{% extends 'layout.html' %}
{% block content %}
<div class="content">
<div class="quiz">
<img src="{{url_for('static', filename=picture)}}">    
<form action="/quiz/1/{{_class.id}}" method="post">
    <div class="options">

    {% for option in form.guess%}
    <div class="option">
        {{option}}
        {{option.label}}
    </div>
    {% endfor %}
    </div>
    <input type="submit"  class="startquiz">
</form>
{{anwser}}

{% if correct == True %}
<a href = '/new_quiz/{{_class.id}}'>
    Next Question
</a>
{% endif %}
</div>
</div>
{% endblock %}